<html> 
    <meta charset="UTF-8">
    <head> 
        <title>Registration form</title> 
        <link rel="stylesheet"  href="css/login.css">
        <script src="js/login.js" defer></script>
    </head>
    <body> 
        <form id="login-form">      

            <label class="input-label" for="email"> Имейл </label>
            <input class="input-field" type="email" id="email" inputmode="email" placeholder="Въведете имейл" required>

            <label class="input-label" for="password"> Парола </label>
            <input class="input-field" type="password" id="password" placeholder="Въведете парола" required>

            
            <button class="button" type="submit" id="login-btn"> Вход </button> <!--sumbit ili ne da e tiput na button-a ne razbrah???-->           
   
            <label class="input-label" id="register-label" for="register-btn"> Нямате профил? </label>
            <button class="button" type="button" id="register-btn"> Регистрация </button>
        </form>
    </body>
</html>